<p style="color: green"><%= notice %></p>

<h1>Expenses for category  <%= params %> </h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
    
    </p>
  <% end %>
</div>


